.container {
  width: 274px;
  height: 568px;
  padding: 30px;
  position: relative;
}

.imageWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 568px;
  overflow: hidden;
  border-radius: 10px;
  /* object-fit: cover; */
}

.mobileBackground {
  display: none;
}

.step {
  display: flex;
  margin-top: 30px;
  color: var(--White);
  align-items: center;
  cursor: pointer;
  pointer-events: none;
  position: relative;
  z-index: 10;
}

.stepNum {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  border: 1px solid var(--Light-blue);
}

.dataWrapper {
  text-transform: uppercase;
  font-size: 14px;
}

.dataWrapper :nth-child(1) {
  color: var(--Light-gray);
  font-size: 12px;
}

.dataWrapper :nth-child(2) {
  font-weight: bold;
}

.active {
  background-color: var(--Light-blue);
  color: #000;
}

/* ------------------------MEDIA QUERIES----------------- */

@media (max-width: 720px) {
  .container {
    width: 100vw;
    height: 172px;
    display: flex;
    justify-content: center;
    padding: 0px;
    overflow: hidden;
    background-color: rebeccapurple;
  }

  .imageWrapper {
    width: 100%;
    overflow: visible;
  }
  .background {
    display: none;
  }
  .mobileBackground {
    width: 100%;
    height: 172px;
    display: block;
    object-fit: cover;
  }

  .step {
    justify-content: space-between;
    align-items: unset;
  }

  .dataWrapper {
    display: none;
  }
}
